form {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-around;
}
.title, .review {
    margin: 10px;
}
 label {
    margin-right: 10px;
    font-family: Arial,sans-serif;
}
 .title label {
     margin-right: 35px;
 }
 textarea {
     height: 60px;
 }
